:local(.text) {
  margin: 0 30px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

:local(.text p) {
  margin-bottom: 0;
}

:local(.perfil) {
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

:local(.perfil img) {
  width: 100%;
  position: absolute;
  display: block;
  top: -30px;
  left: 0;
}

:local(.spot) {
  text-shadow: 0 0 10px rgb(59, 46, 197);
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
}

:local(.spot:hover) {
  font-size: 25px;
  font-weight: bold;
}

:local(.social) {
  font-family: "Mouse Memoirs", sans-serif;
  margin-top: 30px;
  display: flex;
}

:local(.social a) {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 25px;
  width: 100%;
  border-style: none;
  padding: 10px 15px;
  background-color: rgba(59, 46, 197, 0.4);
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  /* border: 1px solid #fff; */
  transition: 0.3s;
}

:local(.social a:hover) {
  cursor: pointer;
  background-color: rgba(59, 46, 197);
  color: rgba(255, 255, 255);
}