:local(form) {
  display: flex;
  flex-direction: column;
  justify-items: center;
  border-style: none;
}

:local(.input) {
  font-size: 14px;
  padding: 10px 30px;
  margin: 7px 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-style: none;
  color: #fff9;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  outline: none;
  transition: 0.3s;
}

:local(.input:focus) {
  border-bottom: 3px solid rgb(59, 46, 197);
}

:local(.input::placeholder) {
  color: #fff5;
}

:local(textarea) {
  resize: none;
  min-height: 200px;
}

:local(.button) {
  font-size: 14px;
  font-weight: bold;
  border-style: none;
  padding: 10px 15px;
  margin: 7px 0;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(59, 46, 197, 0.4);
  outline: none;
}

:local(.button:hover) {
  cursor: pointer;
}