:local(.sidenav) {
  font-family: "Mouse Memoirs", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
  box-shadow: -33px 0px 50px rgba(255, 248, 210, 0.667);
}

:local(.main) {
  margin-left: 0px;
}

/* :local(.sidenav div) {
  margin-left: -2px;
} */

:local(.sidenav div button) {
  width: 30%;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

:local(.section) {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: -2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

:local(.section a p) {
  ￼color: #f1f1f1;
  cursor: pointer;
}

:local(.logo) {
  margin: 10px;
  margin-bottom: 5px;
  width: 45%;
}

:local(.main) {
  /* margin-left: 10px; */
  width: 50%;
  height: 100vh;
}

@media screen and (max-width: 771px) {
  :local(.sidenav) {
    flex-direction: row;
    align-items: center;
    box-shadow: 0px -35px 60px rgba(255, 248, 210, 0.667);
    height: 70px;
    width: 100%;
    overflow-y: hidden;
  }
  :local(.section) {
    margin-bottom: -2px;
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  :local(.logo) {
    margin: 0;
    margin-left: 10px;
    width: 60%;
  }
  :local(.sidenav div button) {
    width: 30%;
  }
  :local(.social) {
    display: none;
  }
  :local(.link) {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 70px;
    height: 100%;
  }
  :local(.main) {
    width: 100%;
    margin-top: 76px;
  }
}